.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  
}

.container {
  position: relative;
  display: flex;
  flex-direction: column; 
  min-height: 80vh;
  min-width: 50vh;
  border: 1px solid black;
  align-items: center;
  background-image: url("assests/images/todoLogo.png");
  background-size: cover;
  
}

.todoForm {
  display: flex;
  justify-content: space-around;
  width: 550px;
}

input {
  position: absolute;
  top: 130px;
  left: 40px;
  width: 70%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
}

button {
  font-size: small;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 20px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 10px;
}
.add-btn {
  position: absolute;
  top: 132px;
  right: 50px;
  font-size: small;
  font-weight: bold;
  padding: 10px 10px;
  margin: 0 5px;
  border-radius: 20px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 10px;

}

.todoList {
  position: absolute;
  top: 170px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.singleTodo {
  display: flex;
  border-radius: 20px;
  margin: 10px;
  padding: 8px 8px;
  width: 330px;
  background-color: lightblue;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.todoName {
  flex: 1;
}

